__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
*.zip
*.tar.gz
data/parsed_json/
model/training/
engine/code_sets/npi_enrollment.csv
engine/code_sets/NPPES*
engine/src/          # Deprecated - code moved to engine/
engine/tests/        # Deprecated test files
